.app {
	--font-main-color: #42567A;
	--font-range-start-color: #5D5FEF;
	--font-range-end-color: #EF5DA8;
  --font-year-color: #3877EE;

	--line-color: #E3E6ED;
	--bg-color: #F4F5F9;

	--spinner-color: #D0D5E0;
	--circle-color: #303e5880;
	--dot-color: #42567A;

	background-color: var(--bg-color);

	@media (width >= 1920px) {
		padding-left: 320px;
		padding-right: 160px;
	}
}