.app {
	--font-main-color: #42567A;

	--line-color: #E3E6ED;
	--bg-color: #F4F5F9;

	--spinner-color: #D0D5E0;
	--circle-color: #303e5880;
	--dot-color: #42567A;

	background-color: var(--bg-color);
}